<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenido</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body style="background-color: <%= locals.bgColor ? bgColor : null %>;" >

    <h1><%= locals.userName ?  userName :null %>, Gracias por visitarnos</h1>


</body>
</html>

